.footer-container {
  width: 100%;
  background-color: #121826;
  /* Dark background matching the page */
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: #9CA3AF;
  /* Light gray text */
  padding: 1.5rem 2rem;
  font-size: 14px;
  display: flex;
  position: relative;
  z-index: 10;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  /* para que no ocupe toda la pantalla en desktop */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.footer-right {
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;

}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }


}