.footer-container {
  width: 100%;
  background-color: #1e90ff;
  color: white;
  padding: 1rem 2rem;
  font-size: 14px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 80px;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* para que no ocupe toda la pantalla en desktop */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

 .footer-right {
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;

  }

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }


}
